{% extends "layout.html" %}

{% block content %}
<html id="capture">

<head>
    <script src="../static/scripts/color-conversion.js"></script>
    <script src="../static/scripts/controller.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../static/content/site.css" rel="stylesheet" />
    <script src="../static/scripts/html2canvas.min.js"></script>
</head>

<body>
    <textarea id="pasteArea" placeholder="Paste Image Here" style="
    padding: 12px;
    margin: 0 48px;"></textarea>
    <!-- <img id="pastedImage"></img> -->
    <canvas id="pasteBin" width="256" height="256"></canvas>
    <br>



    <canvas id="cauldron" width="512" height="512"></canvas>

    <button class="pure-material-button-contained button" onclick="Stir()">Stir</button>


</body>

</html>

{% endblock %}
