{% extends "layout.html" %}

{% block content %}
<html id="capture">

<head>
    <script src="../static/scripts/color-conversion.js"></script>
    <script src="../static/scripts/controller.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../static/content/site.css" rel="stylesheet" />
    <script src="../static/scripts/html2canvas.min.js"></script>
</head>

<body>
    <textarea id="pasteArea" placeholder="Paste Image Here" style="
    padding: 12px;
    margin: 0 48px;"></textarea>
    <!-- <img id="pastedImage"></img> -->
    <canvas id="pasteBin" width="256" height="256"></canvas>
    <br>
    <div id="loading"></div>
    <input id="prompt" />
    <div id="properties">

        <label class="has-float-label">
            <input placeholder=" " type="text" id="name" value="name">
            <span class="label">Name</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
        <label class="has-float-label">
            <input placeholder=" " type="number" id="strength" value=".5">
            <span class="label">Strength</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
        <label class="has-float-label">
            <input placeholder=" " type="number" id="cfg" value="7">
            <span class="label">CFG</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
        <label class="has-float-label">
            <input placeholder=" " type="number" id="seed" value="100">
            <span class="label">Seed</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
        <label class="has-float-label">
            <input placeholder=" " type="number" id="steps" value="100">
            <span class="label">Steps</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
        <label class="has-float-label">
            <input placeholder=" " type="number" id="iterations" value="1">
            <span class="label">Iterations</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
        <label class="has-float-label">
            <input placeholder=" " type="number" id="pastescale" value="1">
            <span class="label">Paste Scale</span>
            <div class="helper">Will filter out colors with value higher(0-1)</div>
        </label>
    </div>

    <canvas id="cauldron" width="256" height="256"></canvas>

    <button class="pure-material-button-contained button" onclick="Stir()">Stir</button>
    <button class="pure-material-button-contained button" onclick="Conjure()" style=" bottom: 12vh;">Conjure</button>


</body>

</html>

{% endblock %}
